# http://editorconfig.org

# This option stops EditorConfig from finding other configs in parent
# directories.
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4

[*.ipynb]
indent_size = 4

[LICENSE]
insert_final_newline = false
