[flake8]
max-line-length = 100
max-complexity = 10
import-order-style = google
select = ANN,B,B9,BLK,C,E,F,I,W
ignore = ANN101,ANN102,ANN401,D100,D104,E203,W503
per-file-ignores =
    tests/*: S101,T20
    tests/test_bake_project.py: S101,T201,S404,S603

# ANN101: Missing type annotation for self in method
# ANN102: Missing type annotation for cls in method
# ANN401: Dynamically typed expressions (typing.Any) are disallowed
# E203: whitespace before ':';
# E501: line too long;
# W503: line break before binary operator
# S101: Forbid the use of assert
# T20: Forbid the use of print
