# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
exclude: "template"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: detect-secrets
        name: Secret detection
        entry: poetry run detect-secrets-hook
        language: system
        files: .*
        exclude: '.*\.ipynb$'
      - id: detect-secrets-notebook
        name: Secret detection in notebooks
        language: system
        files: '.*\.ipynb$'
        entry: poetry run detect-secrets-hook
        args: ['--exclude-lines', '"(hash|id|image/\w+)":.*']
