[flake8]
max-line-length = {{ cookiecutter.max_line_length }}
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
per-file-ignores =
    tests/*: S101,T20
    cli.py: T20
